<footer class="page-footer font-small blue pt-4 dark-primary-color fixed-bottom">
  <!-- add class fixed-bottom for the sign up page -->
  <div class="container-fluid">



    <a href="https://twitter.com/startr_future"><i class="social fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/startrfuture/?ref=br_rs"><i class="social fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/startr_future/?hl=en"><i class="social fab fa-instagram"></i></a>
    <a href="mailto:startrfuture@gmail.com"><i class="social fas fa-envelope"></i></a>
    <div class="footer-copyright text-center py-3">© Copyright 2019 startr
    </div>

  </div>
</footer>


</body>

</html>
