# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# -------------------------------------------------
# OS files
# -------------------------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# -------------------------------------------------
# Logs and databases
# -------------------------------------------------
logs
*.log
npm-debug.log*
*.sql
*.sqlite3

node_modules
.env
functions

# Local Netlify folder
.netlify
