<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>startr-About</title>


  <link rel="icon" href="images/favicon.ico">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Bootstrap javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,900|Ubuntu:400,700&display=swap" rel="stylesheet">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>


  <section class="title2">



    <!-- Nav Bar -->
    <nav class="navbar navbar-light navbar-expand-lg bg-transparent">


      <a class="navbar-brand" href="/">
        <img src="images/brand.png" width="160" height="50" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jobs">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
      </div>

    </nav>

  </section>

  <section class="about-blurb">



    <div class="about-left">
      <h1 class="about-title">About startr</h1>
      <p class="about1">startr was established in 2019 by two university students who wanted to make it easier for young people to find their dream job and a career they could be passionate about. <br><br>

        Whether you are overwhelmed by the future, want to learn valuable networking skills or discover obscure career opportunities, startr is here to give you insight into the job market. <br><br>

        Delivering content in a fun and accessible way for a busy generation, startr will make planning your future easy and stress free. We believe that everyone should be fully informed before they take their first step in their career. <br><br>

        Dedicated to enhancing your career know-how, we aim to give our audience a snapshot into what it’s really like to work in a particular job and set out practical steps to get there. Explore our podcasts and videos to find out what your dream
        job
        is and how to make it a reality!
      </p>

    </div>

    <div class="about-right">
      <img class="founder-photo" src="images/mountain-dark.png" alt="" width="600" height="300">

    </div>

  </section>



  <footer class="page-footer font-small blue pt-4 footer-color">
    <div class="container-fluid">



    <a href="https://www.facebook.com/startrfuture/?ref=br_rs"><i class="social fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/startr_future/?hl=en">  <i class="social fab fa-instagram"></i> </a>
    <a href="mailto:startrfuture@gmail.com"> <i class="social fas fa-envelope"></i> </a>
    <div class="footer-copyright text-center py-3">© Copyright 2019 startr
    </div>

    </div>
  </footer>

</body>

</html>
