<%- include("partials/header") -%>



<div class="blurb default-primary-color">
    <h1 class="about-title primary-text-color">About startr</h1>
    <h6 class="primary-text-color letter-spacing">startr was established in 2019 by two university students who wanted to make it easier for young people to find their dream job and a career they could be passionate about. <br><br><br>

      Whether you are overwhelmed by the future, want to learn valuable networking skills or discover obscure career opportunities, startr is here to give you insight into the job market. <br><br><br>

      Delivering content in a fun and accessible way for a busy generation, startr will make planning your future easy and stress free. We believe that everyone should be fully informed before they take their first step in their career. <br><br><br>

      Dedicated to enhancing your career know-how, we aim to give our audience a snapshot into what it’s really like to work in a particular job and set out practical steps to get there. Explore our podcasts and videos to find out what your dream
      job is and how to make it a reality!
    </h6>
</div>

<div class="profiles">
  <div class="row">
    <div class="feature-box col-sm-6 col-lg-4">
      <img class="profile-photo" src="images/michaela-profile.png" alt="" width="150px" height="150px">
      <h2>Michaela Hing</h2>
    </div>

    <div class="feature-box col-sm-6 col-lg-4">
      <img class="profile-photo" src="images/annie-profile.png" alt="" width="150px" height="150px">
      <h2>Annie Freeman</h2>


    </div>

    <div class="feature-box col-sm-6 col-lg-4">
      <img class="profile-photo" src="images/jess-profile.png" alt="" width="150px" height="150px">
      <h2>Jessica Harnett</h2>


    </div>

  </div>
</div>

<%- include("partials/footer") -%>
