<%- include("partials/header") -%>


  <section class="contact-main">

    <!-- Left side -->

    <div class="test">

      <div class="contact-links">

        <h1 class="contact-heading primary-text-color">CONTACT<br>US</h1>
        <a href="mailto:startrfuture@gmail.com">
          <p>startrfuture@gmail.com <i class="social fas fa-envelope contact-social"></i>
        </p></a>
        <a href="https://www.facebook.com/startrfuture/?ref=br_rs">
          <p>@startrfuture <i class="social fab fa-facebook-f contact-social"></i>
        </p></a>
        <a href="https://www.instagram.com/startr_future/?hl=en">
          <p>@startr_future <i class="social fab fa-instagram contact-social"></i>
        </p></a>
      </div>

    </div>

    <!-- Right side -->

    <div class="test">
    </div>
  </section>

<%- include("partials/footer") -%>
