<%- include("partials/header") -%>

<div class="titleEdit">
  <h2>Edit the startr database</h2>
</div>

<div class="form-group">
  <form class="form-CRUD" action="/edit" method="post">


    <div class="radioButtons">
      <input type="radio" name="edit" value="insert"> Insert new interview <br>
      <input type="radio" name="edit" value="update"> Update existing interview <br>
      <input type="radio" name="edit" value="delete"> Delete existing interview <br>
    </div>


    <div class="formOptions">
      <input class="form-control" type="text" name="currentTitle" value="" placeholder="Current Title">
      <textarea class="form-control" name="video" placeholder="Video Code" rows="3" cols="30"></textarea>
      <input class="form-control" type="text" name="title" value="" placeholder="Title">
      <input class="form-control" type="text" name="blurb" value="" placeholder="Blurb">
      <input class="form-control" type="text" name="soundCloud" value="" placeholder="Sound Cloud Code">
      <textarea class="form-control" name="longContent" placeholder="Long Content" rows="5" cols="30"></textarea>
      <div class="submit-btn">
        <button class="btn btn-dark" type="submit" name="button">Submit</button>
      </div>
    </div>

  </form>
</div>

<%- include("partials/footer") -%>
