<%- include("partials/header") -%>


  <div class="container signUpResult">
    <h1 class="display-4">Uh oh!</h1>
    <p class="lead">There was a problem signing up. Please try again!</p>

    <form action="/failure" method="post">
      <button class="btn btn-lg btn-custom"type="submit" name="button">Try Again</button>
    </form>
  </div>



<%- include("partials/footer-fixed") -%>
