<%- include("partials/header") -%>

<section class="title">
  <div class="heading">
    <img class="logo" src="images/triangle-logo.png" alt="logo">

    <h1 id="header-text">START YOUR FUTURE</h1>
    <p class="letter-spacing">Explore our podcasts and videos to discover your dream job and how to make it a reality.</p>
    <a href="/signup"><button type="button" class="btn btn-outline-light btn-lg download-btn btn-width">Sign Up</button></a>
    <a href="/jobs"> <button type="button" class="btn btn-outline-light btn-lg download-btn btn-width">Videos</button></a>
    <br>
    <br>
    <a href="#sloganID"> <i class="fas fa-chevron-down"></i></a>
  </div>

</section>

<section class="">
  <!-- Make this a 'what to do on our website section'? -->
  <div class="slogan" id="sloganID">
    <h2 class="primary-text-color">startr can help you <span class="emphasis">create your future</span></h2> <br><br>
    <h5>We want to make it easier for young people to find their dream job.</h5>
    <br>
    <h5>We're your fun, friendly career mentor.</h5>
    <br>
    <h5 class="primary-text-color"><a href="/signup">Sign up</a> to make it a reality!</h5>
  </div>
</section>

<hr>

<!-- Top interviews carousel -->
<section class="padding" id="featuredInterviews">
  <div>
    <div id="interview-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <iframe width="600" height="340" src="https://www.youtube.com/embed/AhIZr4wwMvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h1>Explore</h1>
          <p>Hear about a wide range of jobs.</p>
        </div>
        <div class="carousel-item container-fluid">
          <iframe width="600" height="340" src="https://www.youtube.com/embed/P353ajIYZwM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h1>Action</h1>
          <p>Learn how to make things happen.</p>
        </div>
        <div class="carousel-item container-fluid">
          <iframe width="600" height="340" src="https://www.youtube.com/embed/HVJ7VaKfcqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h1>Fun</h1>
          <p>Find out how you can enjoy the process.</p>
        </div>
      </div>

      <a class="carousel-control-prev" href="#interview-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#interview-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</section>

<hr>

<!-- BLOG -> to come -->
<section class="padding" id="blog">
  <div>
    <h1>Blog</h1>
    <!-- Show three blog items  -->
  </div>
</section>

<hr>

<!-- COMMON MYTHS DEBUNKED -->
<section class="padding">
  <h1>Common job myths... debunked!</h1>
  <iframe width="700" height="500" src="https://www.youtube.com/embed/ccBRGb7rAIg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

<hr>

<!-- RANDOM VIDEO GENERATOR -> need to double check if working properly-->
<section id=randomVideoGenerator>
  <div>
    <h1>Random Video Generator</h1>
    <form class="" action="/" method="post">
      <button class="btn btn-outline-dark btn-lg download-btn" type="submit" name="button">Random video</button>
    </form>
  </div>
  <div class="randomVideoPadding">
    <!-- video goes here -->
  </div>
</section>

<hr>

<!-- SPONSORSHIP -->
<section class="padding">
  <h1>Our Sponsors</h1>
  <h2>Keen to work with us?</h2>
</section>



<%- include("partials/footer") -%>
