<%- include("partials/header") -%>

  <!-- Jobs Section -->

  <!-- Add new videos in rows above videos already there -->

  <section class="jobs">

    <div class="row">

      <div class="feature-box col-lg-6 job-description">

        <iframe width="400" height="300" src="https://www.youtube.com/embed/HVJ7VaKfcqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="feature-text"><span class="job-name">Physio</span> - Murray Hing</h3>
        <p>Murray has been practicing physio for 30 years.
          He has had some interesting clients including world class tennis player Kevin Anderson, New Zealand Gold medalist Lisa Carrington and TV presenter Samantha Hayes.
          Murray is also a huge tennis fan and has been playing tennis his entire life.
          He now has the opportunity to tour the international tennis circuit as part of his job. </p>
        <br>
        <p>***embedded SoundCloud code</p>
      </div>

      <div class="feature-box col-lg-6 job-description">

        <iframe width="400" height="300" src="https://www.youtube.com/embed/HVJ7VaKfcqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="feature-text"><span class="job-name">Physio</span> - Murray Hing</h3>
        <p>Murray has been practicing physio for 30 years.
          He has had some interesting clients including world class tennis player Kevin Anderson, New Zealand Gold medalist Lisa Carrington and TV presenter Samantha Hayes.
          Murray is also a huge tennis fan and has been playing tennis his entire life.
          He now has the opportunity to tour the international tennis circuit as part of his job. </p>
        <br>
        <p>***embedded SoundCloud code</p>

      </div>


    </div>

    <div class="row">

      <div class="feature-box col-lg-6 job-description">

        <iframe width="400" height="300" src="https://www.youtube.com/embed/HVJ7VaKfcqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="feature-text"><span class="job-name">Physio</span> - Murray Hing</h3>
        <p>Murray has been practicing physio for 30 years.
          He has had some interesting clients including world class tennis player Kevin Anderson, New Zealand Gold medalist Lisa Carrington and TV presenter Samantha Hayes.
          Murray is also a huge tennis fan and has been playing tennis his entire life.
          He now has the opportunity to tour the international tennis circuit as part of his job. </p>
        <br>
        <p>***embedded SoundCloud code</p>
      </div>

      <div class="feature-box col-lg-6 job-description">

        <iframe width="400" height="300" src="https://www.youtube.com/embed/HVJ7VaKfcqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="feature-text"><span class="job-name">Physio</span> - Murray Hing</h3>
        <p>Murray has been practicing physio for 30 years.
          He has had some interesting clients including world class tennis player Kevin Anderson, New Zealand Gold medalist Lisa Carrington and TV presenter Samantha Hayes.
          Murray is also a huge tennis fan and has been playing tennis his entire life.
          He now has the opportunity to tour the international tennis circuit as part of his job. </p>
        <br>
        <p>***embedded SoundCloud code</p>

      </div>


    </div>

  </section>




<%- include("partials/footer") -%>
