<%- include("partials/header") -%>

  <!-- Jobs Section -->

  <section class="colored-section" id="subjects">

    <h3 class="subject-prompt">What are you interested in?</h3>

    <div class="container-fluid">

<!-- First line -->

      <div class="row">
        <div class="feature-box col-sm-6 col-lg-3">
          <i class="fas fa-globe-americas icon2 fa-4x"></i>
          <h3 class="feature-text">Geography</h3>

        </div>

        <div class="feature-box col-sm-6 col-lg-3">
          <i class="fas fa-book icon2 fa-4x"></i>
          <h3 class="feature-text">English</h3>

        </div>

        <div class="feature-box col-sm-6 col-lg-3">
          <i class="fas fa-laptop-code icon2 fa-4x"></i>
          <h3 class="feature-text">Digital Science</h3>

        </div>

        <div class="feature-box col-sm-6 col-lg-3">
          <i class="fas fa-plane icon2 fa-4x"></i>
          <h3 class="feature-text">Tourism</h3>

        </div>



      </div>

      <!-- Second line -->

      <div class="row">

        <div class="feature-box col-sm-6 col-lg-3">
          <i class="fas fa-dollar-sign icon2 fa-4x"></i>
          <h3 class="feature-text">Economics</h3>

        </div>

        <div class="feature-box col-sm-6 col-lg-3">
          <i class="fas fa-square-root-alt icon2 fa-4x"></i>
          <h3 class="feature-text">Maths</h3>

        </div>

        <div class="feature-box col-sm-6 col-lg-3">
          <i class="fas fa-volleyball-ball icon2 fa-4x"></i>
          <h3 class="feature-text">PE</h3>

        </div>

        <div class="feature-box col-sm-6 col-lg-3">
          <i class="fas fa-music icon2 fa-4x"></i>
          <h3 class="feature-text">Music</h3>

        </div>

      </div>


    </div>




  </section>

  <!-- Add new videos in rows above videos already there -->

  <section class="jobs">

    <div class="row">

      <div class="feature-box col-lg-6 job-description">

        <iframe width="400" height="300" src="https://www.youtube.com/embed/HVJ7VaKfcqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="feature-text"><span class="job-name">Physio</span> - Murray Hing</h3></a>
        <p>Murray has been practicing physio for 30 years. He has had some very interesting
          clients including world class tennis player Kevin Anderson and New Zealand Gold medalist
          Lisa Carrington. Fun fact about Murray he is a huge tennis fan and has been playing tennis his entire life.
          Now he also gets to tour the international tennis circuit and meet some of the biggest names in tennis history.</p>
        <br>
        <p>***embedded SoundCloud code</p>
      </div>

      <div class="feature-box col-lg-6 job-description">

        <iframe width="400" height="300" src="https://www.youtube.com/embed/HVJ7VaKfcqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="feature-text"><span class="job-name">Physio</span> - Murray Hing</h3>
        <p>Murray has been practicing physio for 30 years. He has had some very interesting
          clients including world class tennis player Kevin Anderson and New Zealand Gold medalist
          Lisa Carrington. Fun fact about Murray he is a huge tennis fan and has been playing tennis his entire life.
          Now he also gets to tour the international tennis circuit and meet some of the biggest names in tennis history.</p>
        <br>
        <p>***embedded SoundCloud code</p>

      </div>


    </div>

    <div class="row">

      <div class="feature-box col-lg-6 job-description">

        <iframe width="400" height="300" src="https://www.youtube.com/embed/HVJ7VaKfcqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="feature-text"><span class="job-name">Physio</span> - Murray Hing</h3>
        <p>Murray has been practicing physio for 30 years. He has had some very interesting
          clients including world class tennis player Kevin Anderson and New Zealand Gold medalist
          Lisa Carrington. Fun fact about Murray he is a huge tennis fan and has been playing tennis his entire life.
          Now he also gets to tour the international tennis circuit and meet some of the biggest names in tennis history.</p>
        <br>
        <p>***embedded SoundCloud code</p>
      </div>

      <div class="feature-box col-lg-6 job-description">

        <iframe width="400" height="300" src="https://www.youtube.com/embed/HVJ7VaKfcqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="feature-text"><span class="job-name">Physio</span> - Murray Hing</h3>
        <p>Murray has been practicing physio for 30 years. He has had some very interesting
          clients including world class tennis player Kevin Anderson and New Zealand Gold medalist
          Lisa Carrington. Fun fact about Murray he is a huge tennis fan and has been playing tennis his entire life.
          Now he also gets to tour the international tennis circuit and meet some of the biggest names in tennis history.</p>
        <br>
        <p>***embedded SoundCloud code</p>

      </div>


    </div>

  </section>




<%- include("partials/footer") -%>
