<%- include("partials/header") -%>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Success!</h1>
    <p class="lead">You have been subscribed to the startr newsletter!</p>

    <form action="/success" method="post">
      <button class="btn btn-lg btn-warning"type="submit" name="button">Login</button>
  </div>
</div>



<%- include("partials/footer") -%>
