<%- include("partials/header") -%>


  <div class="container signUpResult">
    <h1 class="display-4">Success!</h1>
    <p class="lead">You have been subscribed to the startr newsletter!</p>

    <form action="/success" method="post">
      <button class="btn btn-lg btn-custom"type="submit" name="button">Login</button>
  </div>




<%- include("partials/footer-fixed") -%>
