html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 900;
  letter-spacing: 1rem;
}

h2, h3 {
  font-weight: 400;
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: normal;
}

a {
  color: black;
}

.footer-custom {
  background-color: #799aab;
}


.title {
  background-image: url("../images/mountain-dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-color: #799aab;
}

/* Nav bar */
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.nav-color {
  background-color: #799aab;
}

.heading {
  padding: 8% 20% 20% 20%;
  color: white;
}

.logo {
  height: 170px;
  width: 170px;
}

.fas {
  color: white;
}

/* Slogan section */
.slogan-section {
  background-color: white;
}

.slogan {
  padding: 7% 15%;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.emphasis {
  color: #fcdc3b;
}

/* Features section */
.subject-prompt {
  font-family: 'Work Sans', sans-serif;
}

#features {
  line-height: 5rem;
  padding: 5rem;
  position: relative;
  background-color: #799aab;
}

.feature-text {
  font-size: 2rem;
}

/* Subjects section */
.colored-section {
  background-color: white;
}

.row {
  margin-top: 50px;
}

#subjects {
  line-height: 5rem;
  padding: 5rem;
  position: relative;
}

.icon2 {
  color: #fcdc3b;
}

#row2 {
  display: block;
}



.social {
  font-size: 1.5rem;
  margin: 10px 20px;
  color: black;
}

.social:hover {
  color: #fcdc3b;
}



/* ABOUT PAGE */
.test {
  display: inline-block;
  width: 45%;
  height: 505px;
  padding: 5px;
  vertical-align: top;

}

.about-title {
  text-align: right;
  color: #fcdc3b;
  margin-top: 10%;
}

.blurb {
  text-align: right;
}



.founder-photo {
  margin-top: 20%;
}




/* JOBS PAGE */
.jobs {
  padding-left: 7%;
  padding-right: 7%;
}

.job-name {
  font-weight: bold;
  color: #ffd700;

}

.job-description {
  text-align: center;

}

/* CONTACT PAGE */

/* Page structure */
.test {
  display: inline-block;
  width: 45%;
  height: 505px;
  padding: 5px;
  vertical-align: top;

}

 /* Div for the contacts inside the structure */
.contact-links {
  text-align: right;
  margin-top: 17%;
}

/* Styles for the content */

.contact-heading {
  color: #fcdc3b;
  padding-bottom: 3%;
  text-align: right;

}

.contact-social {
  color: #fcdc3b;
  text-align: right;
}


@media (max-width: 1028px) {
  h1 {
    font-weight: 900;
    letter-spacing: 1rem;
    font-size: 5rem;
  }

  h2, h3 {
    font-weight: 400;
    font-size: 4rem;
  }

  h5 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
    line-height: normal;
  }



  .social {
    font-size: 2.5rem;
  }

/* About page */

.test {
  display: block;
  width: 100%;
  padding: 5%;
  height: auto;
  vertical-align: top;


}

.about-title {
  text-align: center;
  color: #fcdc3b;
  margin-top: 10%;
}

.blurb {
  text-align: center;
}



.founder-photo {
  text-align: center;

}

.footer-custom {
  font-size: 2.5rem;

}

}
