html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #f5f5f5;

}

h1 {
  font-weight: 900;
  letter-spacing: 1rem;
}

h2, h3 {
  font-weight: 400;
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: normal;
}

a {
  color: black;
}

a:hover {
  color: #fcdc3b;
}

.colourSection {
  background-color: #799aab;
  padding: 5rem;
}

.whiteSection {

}

.footer-custom {
  background-color: #799aab;
}


.title {
  background-image: url("../images/mountain-dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-color: #799aab;
}

/* Nav bar */
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.nav-color {
  background-color: #799aab;
}

.navBorder {
  border-color: white;
}

.heading {
  padding: 8% 20% 20% 20%;
  color: white;

}

.logo {
  height: 170px;
  width: 170px;
}

.btn-width {
  width: 150px;
}

.fas {
  color: white;
}

/* #slogan-top {
  letter-spacing: 2rem;
} */

/* Slogan section */
.slogan-section {
  background-color: #f5f5f5;
}

.slogan {
  padding: 7% 15%;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.emphasis {
  color: #fcdc3b;
}

/* Features section */
.subject-prompt {
  font-family: 'Work Sans', sans-serif;
}

.middle {
  padding: 5rem;
}

#features {
  line-height: 5rem;
  position: relative;
  background-color: #799aab;
}

.feature-text {
  font-size: 2rem;
}

/* Top podcasts */

/* Subjects section */
.colored-section {
  background-color: #f5f5f5;
}

.row {
  margin-top: 50px;
}

#subjects {
  line-height: 5rem;
  padding: 5rem;
  position: relative;
}

.icon2 {
  color: #fcdc3b;
}

#row2 {
  display: block;
}



.social {
  font-size: 1.5rem;
  margin: 10px 20px;
  color: black;
}

.social:hover {
  color: #fcdc3b;
}



/* ABOUT PAGE */


.about-title {
  text-align: center;
  color: #fcdc3b;

}

.blurb {
  text-align: center;
  padding: 1% 20% 1% 20%;
}

.profiles {
  padding: 1% 10% 5% 10%;


}

.profile-photo{
  border-radius: 100%;
  border: 4px solid #fcdc3b;
}



/* JOBS PAGE */
.jobs {
  padding-left: 7%;
  padding-right: 7%;
}

.job-name {
  font-weight: bold;
  color: #ffd700;

}

.job-description {
  text-align: center;

}

/* CONTACT PAGE */

/* Page structure */
.test {
  display: inline-block;
  width: 45%;
  height: 505px;
  padding: 5px;
  vertical-align: top;

}

 /* Div for the contacts inside the structure */
.contact-links {
  text-align: right;
  margin-top: 17%;
}

/* Styles for the content */

.contact-heading {
  color: #fcdc3b;
  padding-bottom: 3%;
  text-align: right;

}

.contact-social {
  color: #fcdc3b;
  text-align: right;
}


/* SIGN UP PAGE */

.signUpForm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  background-color: #f5f5f5;

}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.formTop {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.formMiddle {
  border-radius: 0;
  margin-bottom: -1px;
}

.formBottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.btn-custom {
  margin-top: 20px;
  background-color: #fcdc3b;
  border-color: #fcdc3b;
}

.btn-custom:hover {
  background-color: #e7c104;
  border-color: #e7c104;
}


.signUpResult {
  padding-top: 130px;
}



/* @media (max-width: 1028px) {
  h1 {
    font-weight: 900;
    letter-spacing: 1rem;
    font-size: 5rem;
  }

  h2, h3 {
    font-weight: 400;
    font-size: 4rem;
  }

  h5 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
    line-height: normal;
  }



  .social {
    font-size: 2.5rem;
  } */

/* About page */

/* .test {
  display: block;
  width: 100%;
  padding: 5%;
  height: auto;
  vertical-align: top;


}

.about-title {
  text-align: center;
  color: #fcdc3b;
  margin-top: 10%;
}

.blurb {
  text-align: center;
}



.founder-photo {
  text-align: center;

}

.footer-custom {
  font-size: 2.5rem;

}

} */
